langgraph
langchain
ipython
langchain_ollama
langchain_community
python-dotenv
typing
chromadb
langchain_chroma
langchain_core
langchain_openai
langchain_text_splitters
langchain_groq
langchain_huggingface